<html ng-app="friends_app">
<head>
    <title>Full Mean Demo="support tag from-rainbow"></title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
    <script>
        var friends_app = angular.module('friends_app', []);
        
        friends_app.factory('FriendFactory', function($http){
            var factory = {};
            var friends = [];
            factory.getFriends = function(callback){
                $http.get('/friends').success(function(output){
                    friends = output;
                    callback(friends);
                });
            }
            factory.addFriend = function(info, callback){
                $http.post('/friends'), {name: info.name, age: info.age}.success(function(output){
                    friends = output;
                    callback(friends);
                });
            }
            return factory;
        });
        
        friends_app.controller('FriendsController', function($scope, FriendFactory){
            FriendFactory.getFriends(function(data){
                $scope.friends = data;
            });
            $scope.addfriend = function(){
                FriendFactory.addFriend($scope.new_friend, function(){
                    
                });
          
            }
        });
    </script>
</head>
<body ng-controller="FriendsController">
    <h1>Friends</h1>
    <input type="text" ng-model="filter_name" placeholder="filter">
    {{filter_name}}
    <ul>
        <li ng-repeat="friend in friends | filter: filter_name">
            {{friend.name}}, {{friend.age}}
        </li>
    </ul>
    <h1>Add a Friend</h1>
    <input type="text" ng-model="new_friend.name" placeholder="name">
    <input type="text" ng-model="new_friend.age" placeholder="age">
    <input type="submit" ng-click="addfriend()">
</body>
</html>