<html ng-app="friends_app">
<head>
    <title>Full Mean Demo="support tag from-rainbow"></title>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js'></script>
    <script>
        var friends_app = angular.module('friends_app', []);
        
        friends_app.factory('FriendFactory', function($http){
            var factory = {};
            var friends = [];
            factory.getFriends = function(callback){
                $http.get('/friends').success(function(output){
                    friends = output;
                    callback(friends);
                });
            }
            factory.addFriend = function(friend, callback){
                console.log('Friend ', friend);
                $http.post('/friends', friend).success(function(data){
                    callback(data);
                });
            }
            factory.destroyFriend = function(id, callback){
                console.log('id to be removed: ', id);
                $http.post('/destroy', {id: id}).success(function(data){
                    callback(data);
                });
            }
            return factory;
        });
        
        friends_app.controller('FriendsController', function($scope, FriendFactory){
            FriendFactory.getFriends(function(data){
                $scope.friends = data;
            });
            $scope.addfriend = function(){
                console.log($scope.new_friend);
                FriendFactory.addFriend($scope.new_friend, function(res){
                    $scope.friends = res;
                });
                $scope.new_friend = {};
            }
            $scope.destroyfriend = function(id){
                console.log(id);
                FriendFactory.destroyFriend(id, function(res){
                    $scope.friends = res;
                });
            }
        });
    </script>
</head>
<body ng-controller="FriendsController">
    <h1>Friends</h1>
    <input type="text" ng-model="filter_name" placeholder="filter">
    {{filter_name}}
    <ul>
        <li ng-repeat="friend in friends | filter: filter_name">
            {{friend.name}}, {{friend.age}} <button ng-click="destroyfriend(friend._id)">Remove Friend</button>
        </li>
    </ul>
    <h1>Add a Friend</h1>
    <form>
        <input type="text" ng-model="new_friend.name" placeholder="name">
        <input type="text" ng-model="new_friend.age" placeholder="age">
        <input type="submit" ng-click="addfriend()">
    </form>
</body>
</html>